* {
  font-family: 'Poppins';
}

.detailPage {
  margin: 0 auto;
  padding: 45px;
  width: 85vw;
}

.Detailtitle {
  border-bottom: 1px solid #8a8a8a;
  font-size: 36px;
  font-weight: 600;
}

.productDetails {
  display: flex;
  overflow: hidden;
  margin-top: 30px;
}

.productImage {
  flex: 1;
  overflow: hidden;
}

.productImage img {
  width: 100%;
  height: 50vh;
  border-radius: 8px 0 0 8px;
}

.productInfo {
  flex: 1;
  padding: 7px;
  margin-left: 40px;
  display: flex;
  flex-direction: column; 
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-section {
  display: flex;
}

.loveIcon {
  color: red;
  margin-right: 15px;
}

.namakost {
  font-size: 36px;
  font-weight: 600;
}

.Deskripsi {
  margin-top: 20px;
  font-size: 18px;
}

h1 {
  color: #333;
}

.productDescription {
  color: #555;
  margin-top: 10px;
}

.additionalInfo p {
  color: #666;
  margin-bottom: 5px;
}

.pesanButton {
  background-color: #FBDB32;
  color: #085CFA;
  font-weight: 600;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 15px;
}

.pesanButton:hover {
  background-color: #085CFA;
  color: white;
}

/* PopUp.css */
.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* Overlay background */
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px; /* Adjust the width as needed */
  width: 100%;
  position: relative; /* Ensure positioning within the container */
}

.close-button {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
}

/* Center the popup vertically and horizontally */
.popup-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Add more styling as needed */
