/* NavbarComponent.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0561EB;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}
.title {
  font-size: 36px;
  margin-left: 20px;
  font-family: 'Poppins';
  font-weight: 600;
}

.menu {
  display: flex; 
  align-items: center;

  justify-content: center;
}
.menu ul{
  display: flex;
  justify-self: center;
  align-items: center;

}

.menu li {
  margin: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
  list-style: none;
}
.menu li.active {
  font-weight: bold;
   border-bottom: 2px solid white;
}

.menu li:hover {
  color: #F6DA44;
}
